<div class="container">
  <br>  <br>  <br>  <br>
  <h2 style="text-align: center;color:red">Products based on Seach</h2>
<table class="table">
  <thead>
    <hr>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">Description</th>
      <th scope="col">Total price</th>
      <th scope="col">Quantity</th>
      

    </tr>
  </thead>
  <tbody>

    {{! HERE we are looping the array of obj PRODUCTS }}
    {{#each orders}}

      <tr>
        <th scope="row">{{_id}}</th>
        <td>{{pName}}</td>
        <td>{{pDesc}}</td>
        <td>{{pPrice}}</td>
        <td>{{pQuantity}}</td>
      </tr>

    {{/each}}

  </tbody>
</table>
</div>
